<!doctype html>
<html lang="en">

<head>
    <title>Evaluacion 2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/solar/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .apis {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card {
            flex: 0 1 150px;
            margin: 5px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!--Fin nav-->
    <!--COMIENZA I PARTE-->
    <main class="main" id="main">
        <calcetas></calcetas>

    </main>

    <template id="calcetas">
        <div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card mb-3">
                        <h3 class="card-header text-center">Calcetines</h3>
                        <img v-bind:src="img" style="height: 300px; width: 100%;display: block;">
                        <div class="card-body">
                            <p class="card-text text-center">Calcetas</p>
                        </div>
                        <div v-for="calceta in calcetas" :key="calceta.variantID">

                            <ul @mouseover="updateProduct(calceta.calcetaImage)">{{calceta.calcetaProducto}}</ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </template>





    <!--Comienza II parte-->
    <div class="container mt-3" id="productos">
        <tipos-cafe></tipos-cafe>

    </div>

    <div class="apis" id="api">
        <card v-for="(persona, index) in lista" v-bind:key="index" :datos="persona"></card>
    </div>

    <div id="appPersonas" class="container">
        <div class="card text-white bg-secondary mb-3 mt-3" style="max-width: 60rem;">
            <div class="card-header text-center">Ingreso de Pacientes</div>
            <div class="card-body">
                <div action="" class="form-group">
                    <label class="control-label" for=""></label>
                    <input type="text" class="form-control" v-model="nombre" @:keyup.enter="crearPersonas"
                        placeholder="Ingrese Nombre">
                </div>
                <div action="" class="form-group">
                    <label class="control-label" for=""></label>
                    <input type="number" class="form-control" v-model="edad" @:keyup.enter="crearPersonas"
                        placeholder="Ingrese Edad">
                </div>
                <input @click="crearPersonas" class="btn btn-info" value="Agregar" type="button">
                </section>
            </div>
        </div>
        <div class="card border-secondary mb-3" style="max-width: 60rem;">
            <div class="card-header text-center">Pacientes Ingresados</div>
            <div class="card-body">
                <section class="form">
                    <!--FIN DEL FORMULARIO-->
                    <!--TABLA DONDE SE MUESTRAN LOS DATOS-->
                    <section class="data">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Edad</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(persona, index) in personas">
                                    <!--RECORRE CLIENTES-->
                                    <td>{{persona.id}}</td>
                                    <td>

                                        <span v-if="formActualizar && idActualizar == index">
                                            <!--FORMULARIO PARA ACTUALIZAR-->
                                            <input type="text" v-model="nombreActualizar" class="form-control">

                                        </span>
                                        <span v-else>
                                            <!--DATO NOMBRE-->
                                            {{persona.nombre}}
                                        </span>

                                    </td>
                                    <td>

                                        <span v-if="formActualizar && idActualizar == index">
                                            <!--FORMULARIO PARA ACTUALIZAR-->
                                            <input type="text" v-model="edadActualizar" class="form-control">

                                        </span>
                                        <span v-else>
                                            <!--DATO EDAD-->
                                            {{persona.edad}}
                                        </span>

                                    </td>
                                    <td>
                                        <!--BOTON PARA GUARDAR LA INFO ACTUALIZADA-->
                                        <span v-if="formActualizar && idActualizar == index">
                                            <button type="button" @click="guardarActualizacion(index)"
                                                class="btn btn-success">Grabar</button>
                                        </span>


                                        <span v-else>
                                            <!--BOTON PARA ACTUALIZAR EL FORM-->
                                            <button type="button" @click="verFormActualizar(index)"
                                                class="btn btn-info">Actualizar</button>
                                            <!--BOTON PARA BORRAR-->
                                            <button type="button" @click="borrarPersona(index)"
                                                class="btn btn-danger">Borrar</button>
                                        </span>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </section>


            </div>
        </div>

    </div>
    <script>
        //////CONSUMO DE API////////
        Vue.component('card', {
            template: `
            <div class="card">
                <imagen :img="datos.picture.large"></imagen>
                <div class="card-body">
                    <p class="card-text">{{datos.name.title}} {{datos.name.first}} {{datos.name.last}}</p>
                </div>
            </div>
            `,
            props: ['datos']
        });
        Vue.component('imagen', {
            template: `
                <img :src="img" class="card-img-top" alt="fotoPerfil">
            `,
            props: ['img']
        });
        //////CONSUMO DE API////////

        //////SELECCION TIPOS////////
        Vue.component('tipos-cafe', {
            template: ` <div class="row">
            <div class="col-md-6">

                <div class="card border-secondary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Tipos de cafe</div>
                    <div class="card-body">
                        <div class="form-check">

                            <input class="form-check-input" type="checkbox" v-model="categorias" value="Irish Coffee">
                            <label class="form-check-label" for="">Irish Coffee</label>

                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" v-model="categorias" value="Espresso">
                            <label class="form-check-label" for="">Espresso</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" v-model="categorias" value="Mokaccino">
                            <label class="form-check-label" for="">Mokaccino</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" v-model="categorias" value="Ristretto">
                            <label class="form-check-label" for="">Ristretto</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card border-secondary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Seleccionaste</div>
                    <div class="card-body">
                        <ol>

                            <li v-for="categoria in categorias">{{categoria}}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>`,
            data() {
                return {
                    categorias: []
                }
            },
        })
        //////SELECCION TIPOS////////


        //////VARIANTE IMAGEN////////
        Vue.component('calcetas', {
            template: `#calcetas`,
            data() {
                return {
                    img: "https://boldsocks-2018-com.s3.amazonaws.com/wp-content/uploads/21976-Red-Solid-Mens-Over-the-Calf-Dress-Socks-boldSOCKS01-360x360.jpg",

                    calcetas: [
                        {
                            variantID: 24,
                            calcetaProducto: "Burdeo",
                            calcetaImage: "https://boldsocks-2018-com.s3.amazonaws.com/wp-content/uploads/21732-Apple-Red-Solid-Color-Mens-Dress-Socks-boldSOCKS01-360x360.jpg"
                        },
                        {
                            variantID: 23,
                            calcetaProducto: "Salmon",
                            calcetaImage: "https://boldsocks-2018-com.s3.amazonaws.com/wp-content/uploads/21885-Peach-Solid-Color-Mens-Dress-Socks-boldSOCKS01-360x360.jpg"
                        },
                        {
                            variantID: 22,
                            calcetaProducto: "Rojo",
                            calcetaImage: "https://boldsocks-2018-com.s3.amazonaws.com/wp-content/uploads/21495-red-solid-color-mens-dress-socks-boldsocks01-360x360.jpg"
                        },
                        {
                            variantID: 21,
                            calcetaProducto: "Toronja",
                            calcetaImage: "https://boldsocks-2018-com.s3.amazonaws.com/wp-content/uploads/21553-coral-solid-color-mens-dress-socks-boldsocks01-360x360.jpg"
                        }
                    ]
                }
            },
            methods: {
                updateProduct(calcetaImage) {
                    this.img = calcetaImage
                }
            },
        })

        new Vue({
            el: '#main',
        })
        //////VARIANTE IMAGEN////////


        //////CONSUMO DE API////////
        let app = new Vue({
            el: "#productos",

        })
        new Vue({
            el: '#api',
            mounted() {
                fetch('https://randomuser.me/api/?results=300')
                    .then((response) => {
                        return response.json();
                    })
                    .then((myJson) => {
                        this.lista = myJson.results;
                    });
            },
            data() {
                return {
                    lista: []
                }
            }
        })
        //////CONSUMO DE API////////

        //////REGISTRO PACIENTES////////
        document.addEventListener('DOMContentLoaded', function () {
            new Vue({
                el: '#appPersonas',
                data: {
                    nombre: '',//INPUT NOMBRE
                    edad: '',
                    formActualizar: false, //VER O VER EL FORM DE ACTUALIZAR
                    idActualizar: -1,//POSICION DE LA LISTA
                    nombreActualizar: '',//INPUT DEL FORMULARIO ACTUALIZAR
                    edadActualizar: '',//EDAD DENTRO DEL FORM ACTUALIZR
                    personas: []// LISTA DE PERSONAS


                },

                methods: {
                    crearPersonas() {
                        this.personas.push({
                            id: + new Date(),
                            nombre: this.nombre,
                            edad: this.edad
                        });
                        //limpia el form
                        this.nombre = "",
                            this.edad = ""
                    },
                    verFormActualizar: function (paciente_id) {
                        // Antes de listar el formulario de actualizar, rellenamos sus campos
                        this.idActualizar = paciente_id;
                        this.nombreActualizar = this.personas[paciente_id].nombre;
                        this.edadActualizar = this.personas[paciente_id].edad;
                        // Mostramos el formulario
                        this.formActualizar = true;
                    },
                    borrarPersona: function (paciente_id) {
                        // Borramos de la lista
                        this.personas.splice(paciente_id, 1);
                    },
                    guardarActualizacion: function (paciente_id) {
                        // Ocultamos nuestro formulario de actualizar
                        this.formActualizar = false;
                        // Actualizamos los datos
                        this.personas[paciente_id].nombre = this.nombreActualizar;
                        this.personas[paciente_id].edad = this.edadActualizar;
                    }


                }
            });
        });

    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>